body {
    background: rgb(0, 0, 0);
    color: whitesmoke;
    width: 100vw;
    height: 100vh;
}

h1,
#head-img,
.jumbotron {
    width: 100vw;
    display: block;
    justify-content: center;
    background-color: transparent;
    margin: auto;
}

#head-img > small {
    font-size: large;
}

#logo-img {
    width: 30vw;
    height: 35vw;
    position: absolute;
    top: 0;
    right: 0;
}

#hoursList {
    text-align: left;
    font-size: 1.25rem;
    width: 98vw;
    margin: auto;
    padding-left: 0;
}

ul > h2 {
    font-size: xx-large;
    text-align: center;
}

#hours {
    list-style-type: none;
    animation-duration: 2s;
    background-color: rgba(59, 58, 58, 0.808);
    border-radius: 10px;
    padding: 3px;
}

#WWD {
    animation-duration: 2s;
    padding: 1vw;
    margin-top: 10vh;
    background-color: rgba(59, 58, 58, 0.808);
    border-radius: 10px;
}

#container {
    width: 100vw;
    padding: 2vw;
}

#tire {
    width: 15vh;
    height: 15vh;
    margin: 1vw;   
    display: flex;
    float: left;
    animation: hide 5.1s, spin 550ms linear 5s infinite;
}

#wheel {
    display: flex;
    justify-content: right;
    text-align: center;
    animation: hide 6.1s, reveal 1.5s linear 6s;
    font-size: 1.4em;
    border-bottom: 0.5rem solid whitesmoke;
    color: white;
    width: fit-content;
}

#navBar {
    position: absolute;
    visibility: hidden;
    top: 30px;
    left: 15px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.75);
}

.nav {
    color: whitesmoke;
    font-weight: bold;
}

.nav:hover {
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
}

.burger {
    display: flex;
    top: 0;
    left: 0;
    width: 35px;
    height: 0.5px;
    margin: 5px;
    padding: 5px 0;
    background-color: whitesmoke;
    border-radius: 25%;
    visibility: visible;
}


.coupon {
    color: rgb(0, 0, 0);
    background-color: rgba(252, 252, 0, 0.8);
    padding: 1.2rem;
    text-align: center;
    border-radius: 15px;
    border: 5px dashed black;
    box-shadow: 0 0 5px 5px inset whitesmoke;
    width: 90vw;
    min-width: fit-content;
    height: 100vh;
    min-height: fit-content;
}

.barcode {
    width: 75%;
    height: 50%;
}

.LGtxt {
    color: whitesmoke;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}

.carousel {
    width: 100vw;
    height: 100vh;
    padding: 2.5vw;
    color: whitesmoke;
    animation: reveal 2s;
}

small {
    font-size: xx-small;
}

#pauseCarousel {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    width: 95vw;
    margin: auto;
    animation: spin 2.5s;
}

#quick {
    width: 95vw;
    text-align: center;
    margin: auto;
    animation: reveal 1s;   
}

#quickContact {
    font-size: large; 
}

h3 > p {
    margin: 2vh;
}
mark > a {
    color: #004b9c;
    font-weight: bold;
}

mark {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15%;
}

#getInTouch {
    width: 100%;
    text-align: center;
    margin: 5vh auto;
    background: transparent;
}

#contact-paragraph {
    width: 100vw;
    font-size: 1em;
    padding: 1.5vw;
    animation-duration: 1.5s;
}

#closingPara {
    text-align: end;
    padding: 1.5vw;
}

#pgBreak {
    width: 100vw;
    height: 1vh;
    background-color: whitesmoke;
    animation-duration: 1.5s;
}

#contact-form {
    width: 95vw;
    margin: 2vw;
    padding-bottom: 2.5vw;
    text-align: center;
    font-size: large;
    animation-duration: 1.5s;
}

input[type='radio'] {
    transform: scale(1.75);
}

#appointment-form {
    width: 95vw;
    margin: auto;
    padding-bottom: 3vh;
    font-size: large;
}

#apptPara {
    width: 100vw;
    display: block;
    margin: auto;
    background-color: rgba(59, 58, 58, 0.808);
    border-radius: 10px;
}

#apptP {
    padding: 2vw;
}

@-webkit-keyframes reveal {
    from {
        transform: rotateY(270deg)
    }
    to {
        transform: rotateY(360deg)
    }
}
@keyframes reveal {
    from {
        transform: rotateY(270deg)
    }
    to {
        transform: rotateY(360deg)
    }
}

@-webkit-keyframes hide {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hide {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}
.animate__fadeInDownBig {
    animation-duration: 2s;
}

.animate__slideInRight {
    animation-duration: 2s;
    animation-delay: 5s;
}

.animate__slideInDown {
    animation-duration: 2s;
}

.animate__backInUp {
    animation-duration: 2s;
}
