body {
    background: rgb(0, 0, 0);
    color: whitesmoke;
    width: 100vw;
    height: 100vh;
}

h1, #head-img, .jumbotron {
    width: 200vw;
    display: block;
    justify-content: center;
    background-color: transparent;
    margin: auto;
    background-image: url("assets/mechanic-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;

}

#hoursList {
    font-size: 1.5rem;
    width: 200vw;
    padding: 20vw 20vw 2vw 20vw;

}

#hours {
    padding: 5vh 25vw 10vh;
    text-align: center;
    list-style-type: none;
    animation-duration: 2s;;
}

#WWD {
    animation-duration: 2s;
}

#container {
    width: 175vw;
}

#tire {
    width: 25vh;
    height: 25vh;
    margin: 5vw;
    padding: 3vw;
    display: flex;
    float: left;
    animation: hide 5.1s, spin 550ms linear 5s infinite;
}

#wheel {
   display: flex;
   justify-content: right;
   text-align: center;
   animation: hide 6.1s, reveal 1.5s linear 6s; 
   padding: 8vh 10vw 0;
   font-size: 1.4em;
   border-bottom: .5rem solid whitesmoke;
   width: fit-content;
}

#navBar {
    position: absolute;
    visibility: hidden;
    top: 30px;
    left: 15px;
    color: whitesmoke;
}

.nav {
    color: whitesmoke;
    font-weight: bold;
}

.nav:hover {
    background-color: whitesmoke;
    color: black;
    font-weight: bold;

}

.burger {
    display: flex;
    top: 0;
    left: 0;
    width: 35px;
    height: .5px;
    margin: 5px;
    padding: 5px 0;
    background-color: whitesmoke;
    border-radius: 25%;
    visibility: visible;
}


    .coupon {
        color: rgb(0, 0, 0);
        background-color: rgba(252, 252, 0, .8);
        padding: 1.2rem;
        text-align: center;
        border-radius: 15px;
        border: 5px dashed black;
        box-shadow: 0 0 5px 5px inset whitesmoke;
        width: 150vw;
        min-width: fit-content;
        height: 100vh;
        min-height: fit-content;
    }

    .barcode {
        width: 75%;
        height: 50%;
    }

    .LGtxt {
        color: whitesmoke;
        font-size: 60px;
        font-weight: bolder;
        text-align: center;
        
    }

    .carousel {
        width: 150vw;
        height: 100vh;
        margin: 25vw;
        color: whitesmoke;
        animation: reveal 2s;
    }

   #pauseCarousel {
       display: block;
       font-weight: bold;
       font-size: 1.5em;
       text-align: center;
       width: 150vw;
       margin: 20vh 25vw;
       animation: spin 2.5s;
   }


@-webkit-keyframes reveal {
    from {
        transform: rotateY(270deg)
    }
    to {
        transform: rotateY(360deg)
    }
}
@keyframes reveal {
    from {
        transform: rotateY(270deg)
    }
    to {
        transform: rotateY(360deg)
    }
}

@-webkit-keyframes hide {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hide {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}
.animate__fadeInDownBig {
    animation-duration: 2s;
}

.animate__slideInRight {
    animation-duration: 2s;
    animation-delay: 5s;
}

.animate__slideInDown {
    animation-duration: 2s;
}