body {
    background-image: url("assets/ryan-de-hamer-Hy8A1dqXfdU-unsplash.jpg");
    background-size: cover;
}

#head-img {
    background-image: url("assets/mechanic-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.jumbotron {
    background-color: rgba(144, 238, 144,0);
}


#tire {
    opacity: 1;
    width: 18vw;
    height: 18vw;
    margin: 1vw;
    animation: hide 5.1s, spin 550ms linear 5s infinite;
     
}
@-webkit-keyframes hide {
    0% { opacity: 0; }
    99% { opacity: 0; }
    100% {opacity: 1;}
  }

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
  }

.animate__slideInRight {
    animation-duration: 2s;
    animation-delay: 5s;
}

.animate__slideInDown {
    animation-duration: 2s;
}



