body {
    background-image: url("assets/ryan-de-hamer-Hy8A1dqXfdU-unsplash.jpg");
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 105vh;
}

#head-img {
    background-image: url("assets/mechanic-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.jumbotron {
    background-color: rgba(144, 238, 144, 0);
}

#navBar {
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    display:inline-flex;
    width: 100vw;
    margin-bottom: 3vh;
    
}

.nav{
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
    padding: 1.5vw 5vw;
    color: whitesmoke; 
    font-weight: bold;
    font-size: medium;
    
}

.nav:hover {
    background-color: rgba(245, 245, 245, 0.5);
    color: black;
}



#hours {
    animation-duration: 1.5s;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.5rem;

}

#WWD {
    color: whitesmoke;
    background:rgba(34, 33, 33, 0.2);
    box-shadow: 0 0 10px 10px rgba(34, 33, 33, 0.2);
    animation-duration: 1.5s;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1em;
    word-wrap: normal;
    width: 40vw;
}


#hoursList {
    display: flex;
    justify-content: space-between;

}

#wheel {
    font-size: 2.5rem;
    color: whitesmoke;
    animation: hide 6.1s, reveal 1.5s linear 6s; 
    font-weight: bolder;
    display: inline-block;
    align-items: baseline;
    border-bottom: 7px solid whitesmoke;
    top: 2vh;
    position: relative;
}

#container {
    height: 18vw;
    align-items:baseline;
}

@-webkit-keyframes reveal {
    from {
        transform: rotateY(270deg)
    }
    to {
        transform: rotateY(360deg)
    }
}
@keyframes reveal {
    from {
        transform: rotateY(270deg)
    }
    to {
        transform: rotateY(360deg)
    }
}

#tire {
    opacity: 1;
    width: 18vh;
    height: 18vh;
    margin: 1vw;
    animation: hide 5.1s, spin 550ms linear 5s infinite;

}
@-webkit-keyframes hide {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hide {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}
.animate__fadeInDownBig {
    animation-duration: 2s;
}

.animate__slideInRight {
    animation-duration: 2s;
    animation-delay: 5s;
}

.animate__slideInDown {
    animation-duration: 2s;
}
