body {
    background-image: url("assets/ryan-de-hamer-Hy8A1dqXfdU-unsplash.jpg");
    background-size: cover;
}

#head-img {
    background-image: url("assets/mechanic-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.jumbotron {
    background-color: rgba(144, 238, 144, 0);
}

#wheel {
    font-size: 2.5rem;
    color: whitesmoke;
    animation: hide 5.1s;
    font-weight: bolder;
    display: inline-block;
    align-items: baseline;
    border-bottom: 7px solid whitesmoke;
    top: 2vh;
    position: relative;
     /*
    margin-top: 2vh;


     float: right;
    margin-right: 18vw;
    padding-right: 20vw;
    padding-top: 9vh;
    */
}


#container {
    height: 18vw;
    align-items:baseline;
}

@-webkit-keyframes reveal {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

#tire {
    opacity: 1;
    width: 18vw;
    height: 18vw;
    margin: 1vw;
    animation: hide 5.1s, spin 550ms linear 5s infinite;

}
@-webkit-keyframes hide {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}

.animate__slideInRight {
    animation-duration: 2s;
    animation-delay: 5s;
}

.animate__slideInDown {
    animation-duration: 2s;
}
