body {
   /*  background-image: url("assets/ryan-de-hamer-Hy8A1dqXfdU-unsplash.jpg");
    background-size: cover; */
    background-image: url("https://wallpaperaccess.com/full/1808239.jpg") ;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 125vh;
    width: 100vw;
    color: whitesmoke;

}

html {
    background: rgba(34, 33, 33, 0.9);
    box-shadow: 0 0 10px 10px rgba(34, 33, 33, 0.2);
    color: whitesmoke;
}



#logo-img {
    display: block;
    position: absolute;
    width: 225px;
    height: 250px;
    top: 0;
    left: 0;
    margin: .5%;
    cursor: pointer;
}

.jumbotron {
    background: rgba(34, 33, 33, 0.25);
    box-shadow: 0 0 10px 10px rgba(34, 33, 33, 0.2);
}

#navBar {
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    display: inline-flex;
    width: 100vw;
    margin-bottom: 3vh;
    margin-top: 1%;
}

.nav {
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
    padding: 1.5vw 5vw;
    color: whitesmoke;
    font-weight: bold;
    font-size: medium;

}

.nav:hover {
    background-color: rgba(245, 245, 245, 0.5);
    color: black;
}


#hours {
    animation-duration: 1.5s;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.5rem;

}

#WWD {
    background: rgba(34, 33, 33, 0.3);
    box-shadow: 0 0 10px 10px rgba(34, 33, 33, 0.2);
    color: whitesmoke;
    animation-duration: 1.5s;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1em;
    word-wrap: normal;
    width: 40vw;
}


#hoursList {
    display: flex;
    justify-content: space-between;

}

#wheel {
    font-size: 2.5rem;
    color: whitesmoke;
    animation: hide 6.1s, reveal 1.5s linear 6s;
    font-weight: bolder;
    display: inline-block;
    align-items: baseline;
    border-bottom: 7px solid whitesmoke;
    top: 2vh;
    position: relative;
}

#container {
    height: 18vw;
    align-items: baseline;
    background: rgba(34, 33, 33, 0.2);
    box-shadow: 0 0 10px 10px rgba(34, 33, 33, 0.2);
}

#tire {
    opacity: 1;
    width: 18vh;
    height: 18vh;
    margin: 1vw;
    animation: hide 5.1s, spin 550ms linear 5s infinite;
}


.coupon {
    color: rgb(0, 0, 0);
    background-color: rgba(252, 252, 0, 0.75);
    width: 50vw;
    min-width: fit-content;
    height: 65vh;
    min-height: fit-content;
    margin: auto;
    padding: 1.2rem;
    display: block;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    border: 5px dashed black;
    box-shadow: 0 0 5px 5px inset whitesmoke;

}

.LGtxt {
    color: whitesmoke;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;

}

.barcode {
    width: 2.5in;
    height: 2in;
}

.carousel {
    width: 50vw;
    margin: 0 25vw;
    animation: reveal 2s;
}

#pauseCarousel {
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin: 2.5vh 25vw;
    animation: spin 2.5s;
}

#quick {
    animation: reveal 1s;
}

#contact-paragraph {
    font-size: 1.5em;
    background: rgba(34, 33, 33, 0.2);
    box-shadow: 0 0 10px 10px rgba(34, 33, 33, 0.2);
    margin: 4vw;
    animation-duration: 1.5s;
}

p {
    margin: 2vw;
}

#closingPara {
    text-align: end;
    padding: 5vh;
}

#pgBreak {
    width: 100%;
    height: 1vh;
    background-color: whitesmoke;
}

mark {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15%;

}

#contact-form {
    width: 50vw;
    margin: 5vh 25vw 5vw;
    padding-bottom: 5vh;
    padding-left: 7vw;
    text-align: center;
}

#contact-submit {
    display: flex;
}

#appointment-form {
    background: rgba(34, 33, 33, 0.3);
    box-shadow: 0 0 10px 10px rgba(34, 33, 33, 0.25);
    width: auto;
    margin: 0 12.5vw;
    padding-left: 10.5vw;
    padding-bottom: 3vh;
}

#apptPara {
    font-size: large;
    font-weight: bold;
    background: rgba(17, 17, 17, 0.35);
    box-shadow: 0 0 10px 10px rgba(17, 17, 17, 0.27);
}


@-webkit-keyframes reveal {
    from {
        transform: rotateY(270deg)
    }
    to {
        transform: rotateY(360deg)
    }
}
@keyframes reveal {
    from {
        transform: rotateY(270deg)
    }
    to {
        transform: rotateY(360deg)
    }
}

@-webkit-keyframes hide {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hide {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}
.animate__fadeInDownBig {
    animation-duration: 2s;
}

.animate__slideInRight {
    animation-duration: 2s;
    animation-delay: 5s;
}

.animate__slideInDown {
    animation-duration: 2s;
}
